.MuiBox-root.css-ujtxvs {
  background: #ffd097 !important ;
}
.paginationCss {
  width: fit-content !important;
  position: absolute !important;
  top: 44px !important;
  left: 43.2em !important;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1hgyc67-MuiToolbar-root {
  width: fit-content !important;
}
